@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: 'ScotiabankModernRegular';
    src: url('fonts/scomoreg.eot');
    src: url('fonts/scomoreg.eot') format('embedded-opentype'),
         url('fonts/scomoreg.woff') format('woff'),
         url('fonts/scomoreg.ttf') format('truetype'),
         url('fonts/scomoreg.svg#ScotiabankModernRegular') format('svg');
}

